<div class="app-article-tags">

  <md-chip-list>
    <md-chip class="tag" *ngFor="let tag of tags" selected="false" color="primary">
      {{tag}} <i class="material-icons app-input-icon" (click)="onRemoveTag(tag)">clear</i>
    </md-chip>
  </md-chip-list>

  <md-input-container class="mt-1">
    <input mdInput #input (keyup.enter)="add(input)" placeholder="New Tag..."/>
  </md-input-container>

</div>
