
<div class="breadcrumbs mt-1 mb-1">
  <button md-button class="mr-1" [routerLink]="returnUrl">&laquo; Back</button>
</div>

<md-card class="article article--one">
    <md-card-title>
      {{article.title}}
    </md-card-title>

    <md-card-subtitle>
      by <span class="article__author">{{article.author.firstname}} {{article.author.lastname}}</span> on <span class="article__date">{{article.updatedAt | date:'fullDate'}}</span>
    </md-card-subtitle>

    <md-card-content>
      <div class="article__body" [innerHtml]="article.body"></div>
    </md-card-content>

    <md-card-actions>
      <div class="article__tags">
        <md-chip-list class="">
          <md-chip class="tag" *ngFor="let tagMapping of article.tags" color="primary">
            <a [routerLink]="['/tags', tagMapping.tag.name]">{{tagMapping.tag.name}}</a>
          </md-chip>
        </md-chip-list>
      </div>
      <div class="mt-2 article__meta" *ngIf="hasEditArticlePermission || hasDeleteArticlePermission">
        <hr>
        <button md-button color="primary" [routerLink]="['/articles/edit', article.id]" *ngIf="hasEditArticlePermission">edit</button>
        <button md-button color="warn" confirm-modal [modal-title]="'Please confirm'" [modal-body]="'Are you sure?'" (confirm)="onDelete(article.id, $event)" *ngIf="hasDeleteArticlePermission">delete</button>
      </div>
    </md-card-actions>


</md-card>
