<div class="articles">

  <div class="page__header articles__header">
    <md-toolbar color="primary">
      <span>Articles</span>
      <span fxFlex></span>
      <!-- <button md-button href="#" md-icon-button>
        <md-icon>search</md-icon>
      </button> -->
      <button md-button href="#" md-icon-button [md-menu-trigger-for]="anchorMenu" aria-label="Open anchor menu">
        <md-icon>more_vert</md-icon>
      </button>
    </md-toolbar>
    <md-menu #anchorMenu="mdMenu">
      <button md-menu-item routerLink="/articles/create" disabled="{{!hasCreateArticlePermission}}">Create Article</button>
    </md-menu>
  </div>

  <md-card *ngIf="queryParams['tag']">
    <md-card-content>
      <p>
        <span>Selected tag:</span>
          <md-chip color="primary" class="tag">
            {{queryParams['tag']}} <i class="material-icons app-input-icon" (click)="onClearTagFilter()">clear</i>
          </md-chip>
      </p>
    </md-card-content>
  </md-card>

  <div class="articles__list">
    <md-card *ngFor="let article of articles$ | async | paginate: config" class="article">

        <md-card-title>
          <a [routerLink]="['/articles', article.id, article.slug, { returnUrl: currentUrl }]">{{article.title}}</a>
        </md-card-title>

        <md-card-subtitle>by <span class="article__author">{{article.author.firstname}} {{article.author.lastname}}</span> on <span class="article__date">{{article.updatedAt | date:'fullDate'}}</span></md-card-subtitle>

        <md-card-content>
          <div class="article__body" [innerHtml]="article.body"></div>
        </md-card-content>

        <hr>
        <md-card-actions>
          <div class="article__tags">
            <md-chip-list class="">
              <md-chip class="tag" *ngFor="let tagMapping of article.tags" color="primary">
                <a [routerLink]="['/articles/tag', tagMapping.tag.name]">{{tagMapping.tag.name}}</a>
              </md-chip>
              <md-chip class="tag" *ngIf="!article.tags.length" color="primary">
                <a [routerLink]="['/articles/tag/uncategorized']">uncategorized</a>
              </md-chip>
            </md-chip-list>
          </div>
        </md-card-actions>
    </md-card>
  </div>

  <div class="text-center" *ngIf="config.totalItems > 0">
    <pagination-controls [id]="config.id"
     (pageChange)="onPageChange($event)"></pagination-controls>
   </div>

</div>
