/* You can add global styles to this file, and also import other style files */

@import './style/global';
@import './style/typography';

@import './style/components/breadcrumbs';
@import './style/components/forms';
@import './style/components/logo';
@import './style/components/spinner';
@import './style/components/page';

@import './style/theme';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}
// a {
//   color: #FFF;
// }

.ngx-pagination {
  a {
    cursor: pointer;
  }
}

.article {
  .article__title {
    margin: 0 0 5px;
    h3 {
      margin: 0;
    }
  }
  .article__info {
    color: #999;
    font-size: 12px;
    span {
      font-style: italic;
    }
  }
  .article__body {
    margin-top: 20px;
  }
  .article__tags {
    margin-top: 20px;
  }
  .article__meta {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}
