<div class="breadcrumbs mt-1 mb-1">
  <button md-button class="mr-1" routerLink="/admin/user-groups">&laquo; Back</button>
</div>

<md-card class="mat-card-top">
  <md-card-title>Assign Users for user group: {{userGroup.name}}</md-card-title>
  <md-card-content>
    <form (keydown.enter)="$event.preventDefault()" #form="ngForm" (ngSubmit)="onSubmit()">
      <md-list>
        <md-list-item *ngFor="let user of userGroupUsers">
          <span fxFlex>{{user.lastname}} {{user.firstname}}</span>
          <md-slide-toggle [(ngModel)]="user.on" [ngModelOptions]="{standalone: true}"></md-slide-toggle>
        </md-list-item>
      </md-list>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button class="mr-1" routerLink="/admin/user-groups">Cancel</button>
    <button md-raised-button color="primary" (click)="onSubmit()">Save</button>
  </md-card-actions>
</md-card>
