<div class="breadcrumbs mt-1 mb-1">
  <button md-button class="mr-1" routerLink="/admin/user-groups">&laquo; Back</button>
</div>

<form (keydown.enter)="$event.preventDefault()" [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
  <md-card>
    <md-card-title>User Groups / Edit</md-card-title>
    <md-card-content>

      <div class="mb-1">
        <md-input-container style="width: 100%;">
          <input mdInput formControlName="name" placeholder="Name" type="text" />
        </md-input-container>
        <div *ngIf="formErrors.name" class="alert alert-danger">
          {{ formErrors.name }}
        </div>
      </div>

    </md-card-content>
    <md-card-actions>
      <button md-button type="submit" [disabled]="!myForm.valid" class="app-button" md-raised-button color="primary">Save</button>
    </md-card-actions>
  </md-card>
</form>
