<md-card class="mat-card-top">
  <md-card-title>User Groups</md-card-title>
  <md-card-content>
    <md-toolbar>
      <button md-raised-button class="mr-1" routerLink="add">Add</button>
    </md-toolbar>

    <md-list>
      <md-list-item *ngFor="let group of userGroups">
        <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
          <div fxFlex>
            <label>
              {{group.name}}
            </label>
          </div>
          <div>
            <button md-button class="mr-1" [routerLink]="['edit', group.id]">edit</button>
            <button md-button color="accent" class="mr-1" [routerLink]="['assign-permissions', group.id]">assign permissions</button>
            <button md-button color="accent" class="mr-1" [routerLink]="['assign-users', group.id]">assign users</button>
            <button md-button color="warn" class="mr-1" confirm-modal [modal-title]="'Please confirm'" [modal-body]="'Are you sure?'" (confirm)="onDelete(group.id, $event)">delete</button>
          </div>
        </div>
      </md-list-item>
    </md-list>

  </md-card-content>
</md-card>
