<div class="breadcrumbs mt-1 mb-1">
  <button md-button class="mr-1" routerLink="/admin/permissions">&laquo; Back</button>
</div>

<md-card class="mat-card-top">
  <md-card-title>Assign Permissions for group: {{permissionGroup.name}}</md-card-title>
  <md-card-content>
    <form (keydown.enter)="$event.preventDefault()" #form="ngForm" (ngSubmit)="onSubmit()">
      <md-list>
        <md-list-item *ngFor="let permission of groupPermissions">
          <span fxFlex>{{permission.name}}</span>
          <md-slide-toggle [(ngModel)]="permission.on" [ngModelOptions]="{standalone: true}"></md-slide-toggle>
        </md-list-item>
      </md-list>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button class="mr-1" routerLink="/admin/permissions">Cancel</button>
    <button md-raised-button color="primary" (click)="onSubmit()">Save</button>
  </md-card-actions>
</md-card>
