<md-card class="mat-card-top">
  <md-tab-group>
    <md-tab>
      <ng-template md-tab-label>Permission</ng-template>
      <md-card-content>
        <md-toolbar>
          <button md-raised-button class="mr-1" routerLink="add">Add</button>
        </md-toolbar>

        <md-list>
          <md-list-item *ngFor="let permission of permissions">
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
              <div fxFlex>
                <label>
                  {{permission.name}}
                </label>
              </div>
              <div>
                <button md-button class="mr-1" [routerLink]="['edit', permission.id]">edit</button>
                <button md-button color="warn" class="mr-1" confirm-modal [modal-title]="'Please confirm'" [modal-body]="'Are you sure?'" (confirm)="onDelete(permission.id, $event)">delete</button>
              </div>
            </div>
          </md-list-item>
        </md-list>

      </md-card-content>
    </md-tab>
    <md-tab>
      <ng-template md-tab-label>Permission Group</ng-template>
      <md-card-content>
        <md-toolbar>
          <button md-raised-button class="mr-1" routerLink="add-group">Add</button>
        </md-toolbar>

        <md-list>
          <md-list-item *ngFor="let group of permissionGroups">
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
              <div fxFlex>
                <label>
                  {{group.name}}
                </label>
              </div>
              <div>
                <button md-button class="mr-1" [routerLink]="['edit-group', group.id]">edit</button>
                <button md-button color="accent" class="mr-1" [routerLink]="['assign-permissions', group.id]">assign</button>
                <button md-button color="warn" class="mr-1" confirm-modal [modal-title]="'Please confirm'" [modal-body]="'Are you sure?'" (confirm)="onDeleteGroup(group.id, $event)" [disabled]="group.is_default">delete</button>
              </div>
            </div>
          </md-list-item>
        </md-list>

      </md-card-content>
    </md-tab>
  </md-tab-group>
</md-card>
