.mat-dialog-container {
  background: mat-color($background, card);
  border-radius: $border-radius-base;
  width: 600px !important;

  .app-dialog-header {}
  .app-dialog-body {
    margin: 20px 0 22px;
  }
  .app-dialog-footer {
    text-align: right;
  }
}
