<div class="breadcrumbs mt-1 mb-1">
  <button md-button class="mr-1" routerLink="/account/profile">&laquo; Back</button>
</div>

<form (keydown.enter)="$event.preventDefault()" [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
  <md-card>
    <md-card-title>Edit Profile</md-card-title>
    <md-card-content>

      <div class="mb-1">
        <md-input-container style="width: 100%;">
          <input mdInput formControlName="firstname" placeholder="First name" type="text" />
        </md-input-container>
        <div *ngIf="formErrors.firstname" class="alert alert-danger">
          {{ formErrors.firstname }}
        </div>
      </div>

      <div class="mb-1">
        <md-input-container style="width: 100%;">
          <input mdInput formControlName="lastname" placeholder="Last name" type="text" />
        </md-input-container>
        <div *ngIf="formErrors.lastname" class="alert alert-danger">
          {{ formErrors.lastname }}
        </div>
      </div>

      <div class="mb-2">
        <md-input-container style="width: 100%;">
          <input mdInput formControlName="email" placeholder="Email" type="email" />
        </md-input-container>
        <div *ngIf="formErrors.email" class="alert alert-danger">
          {{ formErrors.email }}
        </div>
      </div>

      <div class="">
        <label for="">Update password</label>
        <br>
        <md-input-container style="width: 100%;">
          <input mdInput formControlName="password" #password placeholder="Password" type="password" />
        </md-input-container>
        <div *ngIf="formErrors.password" class="alert alert-danger">
          {{ formErrors.password }}
        </div>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-button type="submit" [disabled]="!myForm.valid" class="app-button" md-raised-button color="primary">Save</button>
    </md-card-actions>
  </md-card>
</form>
