<div class="page__header">
  <md-toolbar color="primary">
    <span>Profile</span>
    <span fxFlex></span>
    <button md-button href="#" md-icon-button [md-menu-trigger-for]="anchorMenu" aria-label="Open anchor menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu #anchorMenu="mdMenu">
    <button md-menu-item routerLink="/account/profile/edit">Edit profile</button>
  </md-menu>
</div>

<md-card>
  <md-card-content>
    <div fxLayout="row"  fxLayoutWrap="wrap">
      <div fxFlex.gt-xs="100" fxFlex="100">
        <div  fxLayout="column">
          <div class="mb-2" *ngIf="user.persona_photo"><img [src]="user.persona_photo" /></div>
          <h6 class="my-0">{{user.firstname}} {{user.lastname}}</h6>
          <span>{{user.email}}</span>
          <span>Persona: {{user.persona_nickname}}</span>
          <!-- <p><strong>Expiration:</strong> {{expiration | date:'medium'}}</p> -->

          <h6>Google</h6>

          <div *ngIf="user.google">
            <p><strong>Profile ID:</strong> <span>{{user.google}}</span></p>
            <!-- <p>{{user.google_profile}}</p> -->
          </div>

          <div *ngIf="!user.google">
            <p><strong>Status:</strong> <span>Not linked</span></p>
            <button type="button" class="btn btn-default" (click)="linkGoogle()">Link</button>
          </div>

          <h6>Facebook</h6>

          <div *ngIf="user.facebook">
            <p><strong>Profile ID:</strong> <span>{{user.facebook}}</span></p>
            <!-- <p>{{user.facebook_profile}}</p> -->
          </div>

          <div *ngIf="!user.facebook">
            <p><strong>Status:</strong> <span>Not linked</span></p>
            <button type="button" class="btn btn-default" (click)="linkFacebook()">Link</button>
          </div>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>
