<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    {{!-- <link rel="icon" type="image/x-icon" href="favicon.ico"> --}}
    <!-- Place favicon.ico in the root directory -->

    {{!-- <link rel="stylesheet" href="/css/normalize.css"> --}}
    {{!-- <link rel="stylesheet" href="/css/main.css"> --}}
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{{body}}}


    <!-- <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script> -->
</body>
</html>
