<div class="session mat-indigo">
  <div class="session-content">
    <div class="session-wrapper">
      <md-card>
        <md-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <div class="text-xs-center pb-1">
              <img src="assets/images/logo-dark.png" alt=""/>
              <p class="mat-text-muted">Create an account to continue.</p>
            </div>
            <div fxLayout="column"  fxLayoutAlign="space-around">
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="First name" type="text" formControlName="firstname" />
                </md-input-container>
                <small *ngIf="formErrors.firstname" class="mat-text-warn">{{ formErrors.firstname }}</small>
              </div>
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="Last name" type="text" formControlName="lastname" />
                </md-input-container>
                <small *ngIf="formErrors.lastname" class="mat-text-warn">{{ formErrors.lastname }}</small>
              </div>
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="Email address" type="email" formControlName="email" />
                </md-input-container>
                <small *ngIf="formErrors.email" class="mat-text-warn">{{ formErrors.email }}</small>
              </div>
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput type="password" placeholder="Password" formControlName="password" />
                </md-input-container>
                <small *ngIf="formErrors.password" class="mat-text-warn">{{ formErrors.password }}</small>
              </div>
              <div class="pb-1">
                <md-checkbox>I have read and agree to the terms of service.</md-checkbox>
              </div>
              <button md-raised-button color="primary" class="btn-block" type="submit" [disabled]="!form.valid">Create your account</button>
            </div>
            <div class="pt-1 pb-1 text-xs-center">
              <a [routerLink]="['/forgot']">Forgot password?</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a [routerLink]="['/login']">Log in</a>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
