<div class="session mat-indigo">
  <div class="session-content">
    <div class="session-wrapper">
      <md-card>
        <md-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
            <div class="text-xs-center pb-1">
              <img src="assets/images/logo-dark.png" alt=""/>
              <p class="mat-text-muted">Log into your account to continue.</p>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-around">
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput formControlName="email" placeholder="Email" type="email" required />
                </md-input-container>
                <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="mat-text-warn">{{ formErrors.email }}</small>
              </div>
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput formControlName="password" placeholder="Password" type="password" required />
                </md-input-container>
                <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="mat-text-warn">{{ formErrors.password }}</small>
              </div>
              <div class="pb-1">
                <md-checkbox>Stay logged in</md-checkbox>
              </div>
              <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
            </div>
            <div class="pt-1 pb-1 text-xs-center">
              <a [routerLink]="['/forgot']">Forgot password?</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a [routerLink]="['/signup']">Sign up for a new account.</a>
            </div>
            <div class="pt-1 pb-1 text-xs-center">
              <button type="button" md-raised-button color="accent" class="btn btn-default" (click)="loginWithGoogle()">Google login</button>
              <button type="button" md-raised-button color="accent" (click)="loginWithFacebook()">Facebook login</button>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
