<ngx-datatable
  class="material"
  [rows]="rows"
  [sortType]="'multi'"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="50">

  <ngx-datatable-column prop="firstname" name="First name">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{value}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="lastname" name="Last name">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{value}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="email" name="Email">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <strong>{{value}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="id" name=" ">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <button md-button color="primary" [routerLink]="['edit', value]">Edit</button>
      <button md-button color="primary" class="" confirm-modal [modal-title]="'Please confirm'" [modal-body]="'Are you sure?'" (confirm)="onDelete(value, $event)">Delete</button>
      <!-- <button md-button color="primary" class="">Disable</button> -->
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<div *ngFor="let user of users$ | async | paginate: config"></div>

<div class="text-center" *ngIf="config.totalItems > 0">
  <pagination-controls [id]="config.id"
   (pageChange)="onPageChange($event)"></pagination-controls>
 </div>
