
<div class="breadcrumbs mt-1 mb-1">
  <button md-button class="mr-1" [routerLink]="backUrl">&laquo; Back</button>
</div>

<form [formGroup]="myForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="onSubmit()" novalidate>
  <md-card>
    <md-card-title>Edit Article</md-card-title>
    <md-card-content>
      <div class="mb-1">
        <md-input-container style="width: 100%">
          <input mdInput formControlName="title" placeholder="Title" type="text" />
        </md-input-container>
        <div *ngIf="formErrors.title" class="alert alert-danger">
          {{ formErrors.title }}
        </div>
      </div>
      <div class="mb-2">
        <div class="toolbar border-none" id="toolbar-toolbar">
        <span class="ql-formats">
          <select class="ql-font">
            <option selected=""></option>
            <option value="serif"></option>
            <option value="monospace"></option>
          </select>
          <select class="ql-size">
            <option value="small"></option>
            <option selected=""></option>
            <option value="large"></option>
            <option value="huge"></option>
          </select>
        </span>
        <span class="ql-formats">
          <button class="ql-bold"></button>
          <button class="ql-italic"></button>
          <button class="ql-underline"></button>
          <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
          <select class="ql-color"></select>
          <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <select class="ql-align">
            <option selected=""></option>
            <option value="center"></option>
            <option value="right"></option>
            <option value="justify"></option>
          </select>
        </span>
        <span class="ql-formats">
          <button class="ql-link"></button>
          <button class="ql-image"></button>
        </span>
      </div>
        <hr class="ma-0">
        <div class="border-none" id="edit-article__body"></div>
        <div *ngIf="formErrors.body" class="alert alert-danger">
          {{ formErrors.body }}
        </div>
      </div>
      <app-article-tags [tags]="tags" (tags)="onTagsChanged($event)"></app-article-tags>
    </md-card-content>
    <md-card-actions>
      <button md-button type="submit" [disabled]="!myForm.valid" class="app-button" md-raised-button color="primary">Update</button>
    </md-card-actions>
  </md-card>
</form>
